body * {
    font-family: 'Times New Roman', Times, serif;
}
#bttImpr {
    margin: 3em 0 0 20%;
    font-size: 1em;
}

#curri {
    border: 1px black solid;
    padding: 2em 5em 2em 5em;
    margin: 2em 20% 0 20%;
    height: 877px;
    width: 620px;
}

#curri p {
    margin: 5px;
}

#curri div {
    width: 100%;
}

#curri #info {
    display: table;
}

#curri #info .dados {
    display: table-cell;
    float: left;
    width: 50%;
}

#curri #info .dados p {
    margin-bottom: 15px;
}

#curri #info .imagem {
    display: table-cell;
    float: right;
    width: 150px;
    height: 105px;
    margin-right: 3em;
}

#curri #ft_perfil {
    float: right;
    width: 100%;
    height: 100%;
}

#curri #texto p {
    text-align: justify;
}
